.footer {
  padding: var(--size40);
  background-color: #0a0a0a;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.paragraph {
  color: #d0dfff;
  opacity: 1;
}

.span {
  font-size: var(--size12);
  font-weight: 500;
  line-height: 1.4;
}

.link {
  text-decoration: underline;
  color: var(--primary-color);
}

.link:hover {
  opacity: 0.85;
}

@media (max-width: 36rem) {
  .footer {
    padding: var(--size40) var(--size20);
  }

  .link:hover {
    opacity: 1;
  }
}