.button {
  background-color: transparent;
  padding: var(--size16) var(--size16) var(--size16) 0;
  border-radius: var(--size20);
  color: var(--primary-color);
  font-size: var(--size16);
  font-weight: 500;
  display: flex;
  align-items: center;
  transition: opacity 0.4s;
}

.button:hover {
  opacity: 0.85;
}

.button svg {
  width: var(--size22);
  height: var(--size22);
  transform: translateX(-5px);
}